.inf{
    text-align: left;
    align-items: initial;
    font-family:"Times New Roman", Times, serif;
}
.card{
    font-family:"Times New Roman", Times, serif;
}
.all{
    background-color: beige;
}
